[user]
    name = eugeneandrienko
    email = evg.andrienko@gmail.com
    signingKey = EB6A4FC927DE468CAD383BA8713D984F56881209
[push]
    default = simple
    # Make `git push` push relevant annotated tags when pushing
    # branches out.
    followTags = true
[pull]
    # No merge after pull
    ff = only
[alias]
    remotes = remote -v
    amend = commit --amend --reuse-message=HEAD
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[help]
    autocorrect = never
[core]
    pager =
    autocrlf = input
    whitespace = trailing-space,space-before-tab,blank-at-eol,tab-in-indent,blank-at-eof
    quotepath = false
    # For git diff more colored output
    pager = diff-highlight | $PAGER
[merge]
    conflictstyle = diff3
[grep]
    linenumber = true
[diff]
    algorithm = histogram
    colormoved = default
    colormovedws = allow-indentation-change
[init]
    defaultbranch = master
[log]
    date = iso8601
[commit]
    gpgSign = true
[tag]
    gpgSign = true

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = black bold
    frag = magenta
    old = red
    new = green
[color "status"]
    added = green
    changed = red
    untracked = cyan

