[user]
    name = eugeneandrienko
    email = evg.andrienko@gmail.com
    signingKey = EB6A4FC927DE468CAD383BA8713D984F56881209
[push]
    default = simple
    # Make `git push` push relevant annotated tags when pushing
    # branches out.
    followTags = true
[pull]
    rebase = true
[alias]
    remotes = remote -v
    amend = commit --amend --reuse-message=HEAD
[color]
    branch = auto
    diff = auto
    interactive = auto
    status = auto
    ui = auto
[help]
    autocorrect = never
[core]
    autocrlf = input
    whitespace = trailing-space,space-before-tab,blank-at-eol,tab-in-indent,blank-at-eof
    quotepath = false
    pager = diff-highlight | $PAGER
[merge]
    conflictstyle = zdiff3
[grep]
    linenumber = true
[diff]
    algorithm = histogram
    colormoved = default
    colormovedws = allow-indentation-change
    submodule = log
    noprefix = true
[init]
    defaultbranch = master
[log]
    date = iso8601
[commit]
    gpgSign = true
[tag]
    gpgSign = true
[rerere]
    enabled = true
[transfer]
    fsckobjects = true
[fetch]
    fsckobjects = true
[receive]
    fsckobjects = true
[status]
    submoduleSummary = true
[advice]
    detachedHead = false

[color "branch"]
    current = yellow reverse
    local = yellow
    remote = green

[color "diff"]
    meta = black bold
    frag = magenta
    old = red
    new = green
[color "status"]
    added = green
    changed = red
    untracked = cyan

[url "git@github.com:"]
    insteadOf = "https://github.com/"
