# vi like exiting
alias :q='exit'
alias :Q='exit'

# colorized commands
alias ls='ls --color -Fh'
alias grep='grep --color=auto'

# for comfortable system using
alias rm='rm -v'
alias ..='cd ..'
alias ~='cd $HOME'
alias du='du -hs'
alias bk='cd "$OLDPWD"'
alias ll='ls -l --color -Fh'
alias mplayer='mplayer -msglevel all=0 -msgcolor -nojoystick -nolirc -vo xv -ao alsa -subcp cp1251'
alias ps='ps --headers -eo pid,uid,pcpu,pmem,rss,cmd'
alias pingya='ping -c3 ya.ru'
alias s='sudo'
alias ss='sudo -s'
alias wget='wget -c'
alias iget='wget -c -e http_proxy=127.0.0.1:4444'
alias feh='feh --scale'
alias panic='kill -9 $$'
alias df='df -h'

# mount aliases
alias mount_vfat='sudo mount -t vfat'
alias mount_cyr='sudo mount -o codepage=866,iocharset=utf8'

alias disable_touchpad='synclient TouchpadOff=1'
alias enable_touchpad='synclient TouchpadOff=0'

alias tasklist='task project:Daily long && task project:Sysops long && task project:Work long'
