[submodule "progress"]
	path = bin/progress
	url = https://github.com/Xfennec/progress.git
[submodule "bin/ddgr"]
	path = bin/ddgr
	url = https://github.com/jarun/ddgr
[submodule "utils/emacs/.emacs.d"]
	path = utils/emacs/.emacs.d
	url = https://github.com/technomancy/emacs-starter-kit.git
