.w3m/.sessions
.w3m/history
.w3m/.arrived
.config/google-chrome
.emacs.d/auto-save-list
.emacs.d/backups
.local/share/recently-used.xbel
.local/share/icons
.config/gtk-2.0/
.local/share/applications
.local/share/mime
.emacs.d/elisp/jabber/avatars
.emacs.d/elisp/jabber/history
.emacs.d/rc-jabber.el
.xmonad/history
.xmonad/xmonad-i386-linux
.xmonad/xmonad.errors
.xmonad/xmonad.hi
.xmonad/xmonad.o
.config/autostart/
.config/geeqie/
.config/menus/
.config/viewnior/
.local/share/desktop-directories/
.local/share/gegl-0.1/
.local/share/love/
.local/share/mc/
.local/share/mimeapps.list
.local/share/mime/*
