# vi like exiting
alias :q='exit'
alias :Q='exit'

# Navigation
alias ..='cd ..'
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# for comfortable system using
alias ls='ls --color -Fh'
alias grep='grep --color=auto'
alias bc='bc -l'
alias rm='rm -v'
alias du='du -hs'
alias bk='cd "$OLDPWD"'
alias ll='ls -l --color -Fh'
alias lsa='ls -a --color -Fh'
alias la='ls -a --color -Fh'
alias lal='ls -la --color -Fh'
alias lla='ls -la --color -Fh'
alias mplayer='mplayer -nojoystick -nolirc -vo xv -ao alsa -subcp cp1251'
alias ps='ps --headers -eo pid,uid,pcpu,pmem,rss,cmd'
alias pingya='ping -c3 ya.ru'
alias s='sudo'
alias ss='sudo -s'
alias wget='wget -c'
alias iget='wget -c -e http_proxy=127.0.0.1:4444'
alias panic='rm -rfv ~/.cache/thumbnails/* && rm -rfv ~/.thumbnails/* && rm -rfv ~/.cache/vlc/* && sleep 1 && kill -9 $$'
alias df='df -h'
alias progress='progress -w'
#alias fuckrkn='sudo openvpn /etc/openvpn/fuckrkn.ovpn'
alias fuckrkn='ssh -ND 8080 forward@streisand'
alias ddg='ddgr --expand --colors fcegxy'
alias top='htop'
alias hr=$'hr \'#\' \'#\' \'#\''
alias ydl='youtube-dl --proxy socks5://127.0.0.1:8080'

# Mistypes
alias xs='cd'
alias vf='cd'
alias sl='ls'
alias cd..='cd ..'
alias gut='git'
alias ks='ls'

# Git aliases
alias gits='git status -s'
alias gitc='git commit -m'
alias gitp='git push'
alias gitpl='git pull --rebase'
alias gitf='git fetch'
alias gitb='git branch -a'
alias gitd='git diff --color=always'
alias gitdc='git diff --color=always --cached'
alias gitl='git log --reverse --pretty=oneline --abbrev-commit --decorate=short'
alias gitld='git log -p --oneline --abbrev-commit --decorate=short'
alias gitt='git tag'
alias gitsl='git stash list'
alias gitss='git stash save'
alias gitsp='git stash pop'

# apt aliases
alias apts='apt-cache search'
alias apti='sudo apt-get install'
alias aptupd='sudo apt-get update && sudo apt-get upgrade && sudo apt-get autoremove'

# Python aliases
alias makevenv2='virtualenv --python=python2 --system-site-packages --prompt=venv2 virtualenv'
alias makevenv='virtualenv --python=python3 --system-site-packages --prompt=venv virtualenv'
alias activate='source virtualenv/bin/activate'
alias ipython='ipython3'

# Enable aliases to be sudo’ed
alias sudo='sudo '

# Reload shell
alias reload='exec $SHELL -l'

# Shortcuts
alias g='cd ~/git_repos'
alias dw='cd ~/Downloads'
alias dr='cd ~/Dropbox'

# Maven
alias mvnci='mvn clean install'
alias mvnpom='mvn help:effective-pom'
alias mvndep='mvn dependency:tree'

# Tmux
alias txl='tmux ls'
alias txa='tmux a -t'
alias txn='tmux new -s'

# Xclip
alias xcopy='xclip -selection clipboard'
alias xpaste='xclip -selection clipboard -o'

# Docker
alias docklc=$'docker ps -l | tail -n 1 | awk \'{print $NF}\''

