# vi like exiting
alias :q='exit'
alias :Q='exit'

# Navigation
alias ...='cd ../..'
alias ....='cd ../../..'
alias .....='cd ../../../..'

# for comfortable system using
alias -g ls='ls -Fh --color=always'
alias -g ll='ls -lFh --color=always'
alias -g lsa='ls -aFh --color=always'
alias -g la='ls -aFh --color=always'
alias -g lal='ls -laFh --color=always'
alias -g lla='ls -laFh --color=always'
alias tree='tree -F --dirsfirst'
alias grep='grep --color=auto --with-filename --line-number \
                 --binary-files=without-match --exclude-dir=.git'
alias bc='bc -l'
alias rm='rm -v'
alias du='du -hs'
alias bk='popd'
alias mplayer='mplayer -nojoystick -nolirc -vo xv -subcp cp1251'
alias pingya='ping -c3 ya.ru'
alias s='sudo'
alias ss='sudo -s'
alias wget='wget -c'
alias sget='wget -c -e http_proxy=127.0.0.1:8080 -e https_proxy=127.0.0.1:8080'
alias panic='rm -rfv ~/.cache/thumbnails/*; \
             rm -rfv ~/.thumbnails/*; \
             rm -rfv ~/.cache/mozilla/firefox/022ivwuz.default/cache2/*; \
             rm -rfv ~/.cache/mozilla/firefox/022ivwuz.default/startupCache/*; \
             rm -rfv ~/.cache/vlc/*; \
             sleep 1; kill -9 $$'
alias df='df -h'
alias fuck_censorship='ssh -p 443 -ND 8080 fuck@censorship.1984; \
                       notify-send -u critical -t 5000 "Warning" "SSH tunnel is down"'
alias sxiv='sxiv -s d -p'
alias -g emacs='emacs -nw'
alias emacj='emacs --load ~/.emacs.d/rc-java.el'
alias rtorrent='~/.rtorrent/download_blocklist.sh && rtorrent'
alias -g vi='vim'
alias abook='abook --datafile ~/rsync/filez/abook/addressbook'
alias newsboat='newsboat -u ~/rsync/filez/rss/urls'
alias http_server='python3 -m http.server'
alias mount_phone='sudo chown drag0n:drag0n /mnt && aft-mtp-mount -o nonempty /mnt'
alias umount_phone='sudo umount -v /mnt && sudo chown root:root /mnt'
alias daily='emacs ~/rsync/org/daily.org'

# Mistypes
alias -g xs='cd'
alias -g vf='cd'
alias -g sl='ls'
alias -g cd..='cd ..'
alias gut='git'
alias -g ks='ls'

# Git aliases
alias gits='git status -s'
alias gitc='git commit -S -m'
alias gitp='git push'
alias gitpl='git pull --rebase'
alias gitf='git fetch'
alias gitb='git branch -a'
alias gitd='git diff --color=always --diff-algorithm=patience'
alias gitdc='git diff --color=always --diff-algorithm=patience --cached'
alias gitl="git log --reverse --pretty='format:%Cred%h%Creset %Cblue%ai%Creset %Cgreen%an%Creset %s%C(yellow)%d%Creset' --date=short --abbrev-commit --decorate=short; echo"
alias gitld='git log -p --oneline --abbrev-commit --decorate=short'
alias gitt='git tag'
alias gitsl='git stash list'
alias gitss='git stash save'
alias gitsp='git stash pop'

# Shortcuts
alias g='cd ~/git_repos'
alias dw='cd ~/downloads'
alias rs='cd ~/rsync'
alias org='cd ~/rsync/org'

# Maven
alias mvnci='mvn clean install'
alias mvnpom='mvn help:effective-pom'
alias mvndep='mvn dependency:tree'

# Tmux
alias txl='tmux list-sessions'
alias txa='tmux -2 a -t'
alias txn='tmux -2 new -s'
alias tmux='tmux -2'

# Xclip
alias xcopy='xclip -selection clipboard'
alias xpaste='xclip -selection clipboard -o'

# Gentoo aliases
if [ -f ~/.gentoo ]; then
    alias emerge-update='sudo emerge-webrsync; \
                         read NOTUSING?"Press Enter "; \
                         sudo emerge --ask -uDU --keep-going --with-bdeps=y @world'
 fi

# yt-dlp aliases
alias ydl="yt-dlp --continue --write-description \
           --output '%(upload_date)s_%(title)s.%(ext)s'"
alias ydl_mp4="yt-dlp --continue --write-description --embed-thumbnail --recode-video mp4 \
               --output '%(upload_date)s_%(title)s.%(ext)s'"
alias ydl_podcast="yt-dlp --continue \
                  --write-description --extract-audio --audio-format mp3 \
                  --embed-thumbnail --output '%(title)s.%(ext)s' \
                  --exec after_move:'lame --scale 3 %(filepath)q' \
                  --exec after_move:'rm %(filepath)q' \
                  --exec after_move:'rename .mp3.mp3 .mp3 %(filepath)q.mp3'"
alias ydl_mp3="yt-dlp --continue \
               --extract-audio --audio-format mp3 \
               --embed-thumbnail --output '%(title)s.%(ext)s'"
youtube() {
    mplayer -cookies -cookies-file /tmp/cookies.txt \
    $(yt-dlp -gf 22 \
        --cookies /tmp/cookies.txt "$1"); \
    rm -f /tmp/cookies.txt
}
ydl_channel_id() {
    yt-dlp -j "$1" | jq -r '"https://www.youtube.com/feeds/videos.xml?channel_id=" + .channel_id'
}

# Media-related aliases
alias img2gif='convert -delay 15 -loop 0 '
alias webm2mp4='ffmpeg -i '
alias scrt='sleep 3 && scrot -fzs -l style=dash,width=1'

# Termux
alias termux-access-files='am start -a android.intent.action.VIEW -d "content://com.android.externalstorage.documents/root/primary"'

