# Create a new directory and enter it
function mkd() {
    mkdir -p "$@" && cd "$_";
}

function video2gif() {
    PNG_PALLETE=$(mktemp --suffix=.png)
    ffmpeg -i $1 -filter_complex "[0:v] palettegen" $PNG_PALLETE
    ffmpeg -i $1 -i $PNG_PALLETE -r 12 -s 320x180 -filter_complex "[0:v][1:v] paletteuse" $2
    rm $PNG_PALLETE
}

